body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 20px;
    margin: 30px;
    text-align: center;
    font-weight: bold;
}

body img {
    width: 60px;
    margin: 10px 0 10px 30px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: whitesmoke;
}

header {
    width: 100%;
    background-color: #707070;
}

body li {
    /** Removendo a marcacao de LI */
    list-style: none;
    /** Colocando em linha os menus */
    display: inline-block;

    margin-left: 30px;
    margin-top: 40px;
    margin-right: auto;
}
header nav {
    text-align: right;
}

body nav a {
    color: rgb(255, 255, 255);
    text-transform: uppercase;

    /** Espacamento entre as letras */
    letter-spacing: .2em;
    font-size: 0.80em; /* 14px*/

     /** Aumentando a area de contato */
     padding: 10px;
   
    /** Removendo o sublinhado */
    text-decoration: none;

}

body h1 {
    color: #fff;
    text-align: center;
    font-size: 2em;
    line-height: 60px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding-top: 90px;
    padding-bottom: 90px;
    /**text-shadow: 1px 1px 5px #fff; */
}

body div.title {
    height: 260px;
    background-image: url('/img/title.jpg');
    background-size: cover;
    background-position: center;
}


body blockquote {
    padding:10px;
    text-align: center;
}