body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 20px;
    margin: 30px;
    text-align: center;
    
}

body img {
    width: 60px;
    margin: 10px 0 10px 30px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: whitesmoke;
}

header {
    width: 100%;
    background-color: rgb(209, 209, 209);
}

body li {
    /** Removendo a marcacao de LI */
    list-style: none;
    /** Colocando em linha os menus */
    display: inline-block;

    margin-left: 30px;
    margin-top: 40px;
    margin-right: auto;
}
header nav {
    text-align: right;
}

body nav a {
    color: black;
    text-transform: uppercase;

    /** Espacamento entre as letras */
    letter-spacing: .1em;
    font-size: 0.87em; /* 14px*/

     /** Aumentando a area de contato */
     padding: 10px;
   
    /** Removendo o sublinhado */
    text-decoration: none;

}

body h1 {
    text-align: center;
    font-size: 2em;
    line-height: 60px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding-top: 50px;
    padding-bottom: 50px;
}

body blockquote {
    padding:10px;
    text-align: center;
}