body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    width: 100%;
    background-color: #FEC63E;
    padding: 15px 0;

    /** Fixando o cabecalho no topo */
    position: fixed;
    top: 0%;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 20px;
}

body img {
    width: 80px;
    margin: 10px;
}

body li {
    /** Removendo a marcacao de LI */
    list-style: none;
    /** Colocando em linha os menus */
    display: inline-block;

    margin-left: 25px;
    margin-top: 18px;
    margin-right: 30px;
}
header nav {
    text-align: right;
}

body nav a {
    color: black;
    text-transform: uppercase;

    /** Espacamento entre as letras */
    letter-spacing: .1em;
    font-size: 0.87em; /* 14px*/
   
    /** Removendo o sublinhado */
    text-decoration: none;

}

body h1 {
    text-align: center;
}