<div class="title">
    <h1 >Sobre Meadowlark Travel</h1>
</div>

{{#if fortune}}
    <div class="container">
        <p class="grid-16">Sua Previsão para o dia:</p><br>
        <blockquote class="grid-16">{{fortune}}</blockquote>
    </div>
    
{{/if}}
