<div class="title">
    <h1 >Sobre Meadowlark Travel</h1>
</div>

{{#if fortune}}
    <p class="grid-4">Sua Previsão para o dia:</p><br>
    <blockquote class="grid-16">{{fortune}}</blockquote>
{{/if}}
