<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meadowlark Travel</title>
</head>
<body>
    <header>
        <div>
            <img src="/site/public/img/logo.png" alt="logo" srcset="">
        </div>
        <nav>
            
        </nav>
    </header>
    {{{body}}}    
</body>
</html>